/*
h1 - 48px
h2 - 36px
h3 - 28px
all other text - 21px

colors: 
   #588C94 
   #1D3C41
*/

/* Global styles */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3125rem;
}

/* Typography */

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.65rem;
}

/* Layout */

header {
  padding: 1.9rem 0;
  background-color: #588c94;
  color: white;
  text-align: center;
}

.intro {
  width: 31.25rem;
  margin: 6.25rem auto;
  text-align: center;
}

.my-skills {
  background-color: #1d3c41;
  color: white;
  padding: 4.7rem 0;
  text-align: center;
}

.columns {
  width: 60rem;
  margin: 0 auto;
  display: flex;
}

.column {
  margin: 0 0.7rem;
}
